# MySQL Root 및 기본 설정
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=database
MYSQL_PORT=3306

# Flyway 전용 계정 (DDL 권한)
MYSQL_FLYWAY_USER=mysql_flyway_user
MYSQL_FLYWAY_PASSWORD=FlywayUserPassword

# App 전용 계정 (DML 권한)
MYSQL_APP_USER=mysql_dml_app_user
MYSQL_APP_PASSWORD=DmlAppUserPassword

# VITE API 기본 URL (local)
VITE_API_BASE_URL=http://localhost:8080
